.page {
  --gunMetal: #293241;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 40px;
  min-height: 100vh;

  font-family: var(--font-geist-sans);
}

  
  @media (prefers-color-scheme: dark) {
    .page {
      --gray-rgb: 255, 255, 255;
      --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
      --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  
      --button-primary-hover: #ccc;
      --button-secondary-hover: #1a1a1a;
    }
  }
  
  

.main {
    grid-row-start: 2;
    color: var(--testingcolor5);
    text-align: center;
    
}

.main h1{
    color: var(--testingcolor3);
    font-size: 2em;    
}

.main p{
    color: var(--testingcolor4);
    font-size: 0.8em;
}






.apiContainer {
    grid-row-start: 3;
    display: grid;
    /*grid-template-columns: repeat(auto-f, minmax(250px, 1fr));*/
    gap: 15px;
}

.apiBox {
    padding: 15px;
    background-color: var(--testingcolor5);
    border-radius: 8px;
    box-shadow: 0px 2px 4px var(--gunMetal);
    text-align: center;
}

.apiBox h1 {
    margin: 0;
    font-size: 2em;
    /*font-family: var(--font-rubik);*/
    color: var(--testingcolor2);
  }
  
.apiBox p {
    font-size: 0.8em;
    margin-top: 10px;
    /*font-family: var(--font-geist-mono);*/
    color: var(--testingcolor2);
  }
  



.factButton {
    padding: 10px 15px;
    
    background-color:#476A6F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }

.factButton:hover {
    background-color: #2f474b;
  }

.factText {
    margin-top: 10px;
    font-size: 1em;
    color: #333;
  }