:root {
  --background: #EFEFEF;
  --foreground: #171717;
  --testingcolor1: #272727;
  --testingcolor2: #464E47;
  --testingcolor3: #59A96A;
  --testingcolor4: #9BDEAC;
  --testingcolor5: #CEB5A7;
}
/* Dark Mode Variables */
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

html,
body {
  background-color: #EFEFEF;
  max-width: 100%;
  color: var(--foreground);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Header Css */
.site-header {
  padding: 16px;
  font-family: var(--font-geist-mono);
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 16px;
}

.site-main {
  background-color: var(--background);
  min-height: calc(100vh - 120px); /* header + footer space */
}

.site-footer {
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
}

