.header {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.navList {
  background-color: ();
  display: flex;
  list-style: none;
  margin: 0;
}

.navItem {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-family: var(--font-geist-mono);
  font-size: 14px;
}


.navList li:not(:last-child)::after {
  content: "|";
  margin: 0 12px;
  color: black;
}

.navItem::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navItem:hover::after {
  transform: scaleX(1);
}